<div style="padding: 40px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="row"><span style="font-weight: bold; font-size: large;">Create Menu</span></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">User & Security</a></li>
          <li class="breadcrumb-item active" aria-current="page">Create Menu</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-6">
      <button class="btn-action" style="width: 100px; margin-right: 20px;">Cancel</button>
      <button class="btn-action" style="width: 160px; margin-right: 20px;">Create & Continute</button>
      <button class="btn-action" style="width: 100px; margin-right: 20px;">Create</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div id="infoMenu" class="row left-menu--underline" (click)="scrollPoint1(point_1)" style="cursor: pointer">
        <div class="col-sm-2">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" width="15pt" height="15pt"
            class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="green"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
            </path>
          </svg>
        </div>
        <div class="col-sm-10"><span>Information</span></div>
      </div>
      <div id="itemMenu" class="row" (click)="scrollPoint2()" style="cursor: pointer">
        <div class="col-sm-2">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-circle"
            class="svg-inline--fa fa-exclamation-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="red"
              d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
            </path>
          </svg>
        </div>
        <div class="col-sm-10"><span>Menu Item</span></div>
      </div>

    </div>
    <div class="col-sm-10" style="height: 600px;">
      <div style="height: 100%; width: 100%; overflow: hidden;">
        <div style="width: 100%; height: 99%; overflow-y: scroll; padding-right: 17px; box-sizing: content-box;">
          <div #point_1 class="row" style="height: 300px;">
            <div id="tabs" #tabs style="display: inline-block;">
              <ul class="nav ">
                <li>
                  <a style="display: inline-block; width: 150px; height: 26px; color: #8c8a88;">
                    <h5>Information</h5>
                  </a>
                </li>
                <li class="nav-item tab-general">
                  <a class="active tab-link" href="#search" [ngClass]="{ 'active':activeTab==='search'}"
                    (click)="search('search')" data-toggle="tab">General</a>
                </li>
                <li class="nav-item tab--extra-infor">
                  <a class="nav-link tab-link" href="#results" [ngClass]="{ 'active':activeTab==='result'}"
                    data-toggle="tab" (click)="result('result')">Extra Information</a>
                </li>
              </ul>

              <div class="tab-content" style="margin-top: 25px;">
                <div class="tab-pane" id="search" [ngClass]="{ 'active':activeTab==='search'}">
                  <div class="row">

                    <form [formGroup]="menuForm" (ngSubmit)="submitMenu()">
                      <div class="row">
                        <div class="col-sm-5">
                          <input class="input-s" type="text" placeholder="Menu Code"
                            aria-label=".form-control-lg example" #txtMenuCode (keyup)=getMenuCode(txtMenuCode.value)
                            name="MenuCode" formControlName="menuCode">
                          <br>
                          <span style="color: red;"
                            *ngIf="getMenuCodeForm && getMenuCodeForm.invalid && getMenuCodeForm.touched">
                            MenuCode is required
                          </span>

                          <input class="input-s input-margin" type="text" placeholder="Menu Name"
                            aria-label=".form-control-lg example" #txtMenuName (keyup)=getMenuName(txtMenuName.value)
                            name="MenuName" formControlName="menuName">
                          <br>
                          <span style="color: red;"
                            *ngIf="getMenuNameForm && getMenuNameForm.invalid && getMenuNameForm.touched">
                            MenuName is required
                          </span>
                        </div>
                        <div class="col-sm-7">
                          <input class="input-des" type="text" placeholder="Description"
                            aria-label=".form-control-lg example">
                        </div>
                      </div>
                      <div class="row">
                        <div class="row">
                          <div class="col-sm-5">
                            <input class="input-s input-margin" formControlName="startDate" type="date"
                              placeholder="Start Date" aria-label=".form-control-lg example">
                          </div>
                          <div class="col-sm-7">
                            <input style="margin-left: 10px" class="input-s input-margin" formControlName="endDate"
                              type="date" placeholder="End Date" aria-label=".form-control-lg example">
                          </div>
                        </div>

                        <div *ngIf="menuForm.hasError('notValid')" class="alert alert-danger"
                          style="text-align: center; width: 350px; height: 29px; margin: 5px auto; padding: 0;">
                          End Date must be greater than Start Date
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="tab-pane" id="results" [ngClass]="{ 'active':activeTab==='result'}">
                  <p>Menu Code: {{menuCode}}</p><br>
                  <p>Menu Name: {{menuName}}</p><br>
                </div>
              </div>

            </div>

          </div>


          <!-- <div class="row">
              <div style="display: inline-block; width: 150px; height: 26px;">
                <h5 style="color: #8c8a88;">Information</h5>
              </div>
              <div
                style="margin-left: 50px; display: inline-block; width: 80px;  height: 26px; border: 1px solid #8ab4c5; border-radius: 15px; background-color: #cddee8; color: #8c8a88;">
                General</div>
              <div
                style="display: inline-block; width: 150px;  height: 26px; border-radius: 15px; margin-left: 20px; background-color: #dfdddd; color: #8c8a88;">
                Extra Information</div>
            </div> -->


          <div id="point_2" class="row" style="margin: 0;">
            <div class="row" style="margin-top: 30px; height: 30px">
              <div class="col-sm-2" style="padding: 0;">
                <h5 style="color: #8c8a88;">Menu Item</h5>
              </div>
              <div class="col-sm-10">
                <a style="color: #4ca2d7; float: right;">Add menu item</a>
              </div>
            </div>

            <div class="row" style="height: 200px; border: 1px solid #8c8a88; margin: 0; padding: 0;">
              <div class="row" style="height: 40px; background-color: #978c83; margin: 0;">
                <div class="col-sm-2 table-col">Menu Item Code</div>
                <div class="col-sm-3 table-col">Menu Item Name</div>
                <div class="col-sm-5 table-col">Description</div>
                <div class="col-sm-2 table-col">Action</div>
              </div>
            </div>
            <div class="row" style="height: 600px;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-action {
    height: 45px;
    background-color: #006B82;
    color: aliceblue;
    float: right;
  }

  .input-s {
    height: 50px;
    width: 440px;
  }

  .input-margin {
    margin-top: 30px;
  }

  .input-des {
    height: 130px;
    width: 440px;
  }

  .table-col {
    color: whitesmoke;
    font-weight: bold;
    padding: 6px 0;
    text-align: center
  }
</style>