.nav-pills {
    border-bottom: 1px solid #ddd;
}
.nav-pills li a {
    background: #1f4e79;
    color: #fff;
    display: block;
    line-height: 2em;
    padding: 7px 15px;
    border-radius: 0;
    font-size: 20px;
    border: none;
    margin: 30px 2px 0;
}
ul li a {
    text-decoration: none;
}
.nav-pills li a.active {
    background: #3482ca;
    border: none;
    color: #FFF;
}

.tab-general{
    margin-left: 40px; 
    display: inline-block; 
    width: 80px;  
    height: 26px; 
    border: 1px solid #8ab4c5; 
    border-radius: 15px; 
    background-color: #cddee8; 
    color: #8c8a88;
    padding: 0px 10px;
}

.tab--extra-infor{
    display: inline-block;
    width: 150px;  
    height: 26px; 
    border-radius: 15px; 
    margin-left: 20px; 
    background-color: #dfdddd; 
    color: #8c8a88;
    padding: 0px 12px;
}

.tab-link{
    color: #8c8a88;
    padding: 0;
}

.left-menu--underline{
    border-bottom: 2px solid #8c8a88;
}